.contactIcons {
  width: 794px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.icon i {
  font-size: 30px;
  box-shadow: 6px 6px 10px -1px rgb(0 0 0 / 15%),
    -6px -6px 10px -1px rgb(255 255 255 / 70%);
  border-radius: 50%;
  padding: 20px;
  border-radius: 50%;
  color: aqua;
}
.icon p {
  flex: 1;
  margin-left: 10px;
}
