.u-section-1 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 997px;
  margin: 97px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1094px;
  pointer-events: auto;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 1183px;
  width: 1142px;
  animation-duration: 1250ms;
  margin: -78px -145px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 15px;
  height: 829px;
  background-image: none;
  margin: -1067px 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 1098px;
  }

  .u-section-1 .u-image-1 {
    height: 1078px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -1756px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-image-1 {
    height: 826px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -850px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1948px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1654px;
  }

  .u-section-1 .u-image-1 {
    height: 1239px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -775px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 795px;
  }

  .u-section-1 .u-image-1 {
    height: 780px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -602px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1563px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 41px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  animation-duration: 1000ms;
  margin: 15px 29px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1192px;
  animation-duration: 1000ms;
}

.u-section-2 .u-image-1 {
  background-image: url("images/76c1a6b58b34fa74295e5776412386099c0f4ff438f9c17a77395c6bf6118ca16cb9576972e37754cc2de6e03fbcdc2bf5ce537b2cae2d735fef40_1280.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  margin: 24px auto 0 3px;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  margin: 20px auto 0 48px;
}

.u-section-2 .u-shape-1 {
  height: 13px;
  width: 243px;
  margin: 4px auto 0 24px;
}

.u-section-2 .u-shape-2 {
  width: 25px;
  height: 13px;
  background-image: none;
  margin: -13px auto 0 242px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  text-transform: none;
  margin: 22px auto 0 48px;
}

.u-section-2 .u-shape-3 {
  height: 13px;
  width: 243px;
  margin: 15px auto 0 24px;
}

.u-section-2 .u-shape-4 {
  width: 122px;
  height: 13px;
  margin: -13px auto 0 145px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  margin: 36px 452px 0 3px;
}

.u-section-2 .u-image-2 {
  width: 45px;
  height: 45px;
  margin: 267px auto 0 34px;
}

.u-section-2 .u-shape-5 {
  width: 285px;
  height: 20px;
  margin: -31px 179px 0 auto;
}

.u-section-2 .u-shape-6 {
  width: 34px;
  height: 19px;
  margin: -19px 179px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 45px;
  height: 45px;
  margin: 27px auto 0 34px;
}

.u-section-2 .u-shape-7 {
  width: 285px;
  height: 20px;
  margin: -32px 179px 0 auto;
}

.u-section-2 .u-shape-8 {
  width: 86px;
  height: 20px;
  margin: -20px 179px 0 auto;
}

.u-section-2 .u-shape-9 {
  width: 285px;
  height: 20px;
  margin: 38px 178px 0 auto;
}

.u-section-2 .u-shape-10 {
  width: 62px;
  height: 20px;
  margin: -20px 178px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 45px;
  height: 45px;
  margin: -28px auto 0 34px;
}

.u-section-2 .u-image-5 {
  width: 45px;
  height: 45px;
  margin: 15px auto 0 33px;
}

.u-section-2 .u-shape-11 {
  width: 285px;
  height: 20px;
  margin: -33px 179px 0 auto;
}

.u-section-2 .u-shape-12 {
  width: 85px;
  height: 19px;
  margin: -19px 179px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 45px;
  height: 45px;
  margin: 29px auto 0 34px;
}

.u-section-2 .u-shape-13 {
  width: 285px;
  height: 20px;
  margin: -30px auto 0 90px;
}

.u-section-2 .u-shape-14 {
  width: 47px;
  height: 20px;
  margin: -20px auto 0 327px;
}

.u-section-2 .u-image-7 {
  width: 45px;
  height: 45px;
  margin: 25px auto 0 34px;
}

.u-section-2 .u-shape-15 {
  width: 285px;
  height: 20px;
  margin: -33px 179px 0 auto;
}

.u-section-2 .u-shape-16 {
  width: 211px;
  height: 20px;
  margin: -20px auto 0 164px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  margin: 29px 355px 0 0;
}

.u-section-2 .u-group-1 {
  width: 134px;
  margin: 97px 84px 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 37px;
  height: 37px;
  color: rgb(235, 186, 22) !important;
  margin: 2px auto 0 0;
}

.u-section-2 .u-icon-2 {
  width: 37px;
  height: 37px;
  color: rgb(235, 186, 22) !important;
  margin: -37px 97px 0 48px;
}

.u-section-2 .u-icon-3 {
  width: 37px;
  height: 37px;
  color: rgb(235, 186, 22) !important;
  margin: -39px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1133px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-9 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 357px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 373px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 35px 0 0;
}

.u-section-2 .u-text-13 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 357px 0 0;
}

.u-section-2 .u-shape-17 {
  width: 250px;
  height: 125px;
  margin: 51px auto 0 23px;
}

.u-section-2 .u-shape-18 {
  width: 25px;
  height: 113px;
  margin: -91px 51px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1354px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 983px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 355px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-2 .u-shape-11 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-2 .u-shape-13 {
    margin-top: 20px;
    margin-left: 93px;
  }

  .u-section-2 .u-shape-14 {
    margin-left: 287px;
  }

  .u-section-2 .u-shape-15 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 255px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 934px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 257px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 273px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 753px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 245px;
  }

  .u-section-2 .u-shape-6 {
    margin-right: 75px;
  }

  .u-section-2 .u-shape-8 {
    margin-right: 75px;
  }

  .u-section-2 .u-shape-9 {
    margin-right: 75px;
  }

  .u-section-2 .u-shape-10 {
    margin-right: 75px;
  }

  .u-section-2 .u-shape-12 {
    margin-right: 75px;
  }

  .u-section-2 .u-shape-13 {
    margin-left: 38px;
  }

  .u-section-2 .u-shape-14 {
    margin-left: 122px;
  }

  .u-section-2 .u-shape-16 {
    margin-left: 149px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 145px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 147px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 163px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2016px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 51px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 935px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-left: 36px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 8px;
    margin-left: 36px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 201px;
    margin-left: 254px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-left: 30px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 14px;
    margin-left: 36px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 157px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 21px;
    margin-right: 236px;
    margin-left: 9px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 23px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: -31px;
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 34px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: -32px;
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-9 {
    margin-top: 43px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 23px;
    margin-left: 34px;
  }

  .u-section-2 .u-shape-11 {
    margin-top: -33px;
    margin-right: 74px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-12 {
    margin-right: 74px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 37px;
  }

  .u-section-2 .u-shape-13 {
    margin-top: -30px;
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-14 {
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-2 .u-image-7 {
    margin-top: 35px;
    margin-left: 36px;
  }

  .u-section-2 .u-shape-15 {
    margin-top: -33px;
    margin-right: 73px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-16 {
    margin-right: 69px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 107px;
    margin-right: 136px;
    margin-left: 9px;
  }

  .u-section-2 .u-group-1 {
    min-height: 37px;
    margin-top: 239px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -221px;
    margin-left: -114px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: auto;
    margin-left: -183px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -37px;
    margin-right: auto;
    margin-left: -45px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2698px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-bottom: 3px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1171px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 28px;
    margin-left: 24px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 9px;
    margin-left: 15px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 17px;
    margin-left: 15px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 136px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 18px;
    margin-right: 37px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 30px;
    margin-left: 115px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-2 .u-shape-6 {
    height: 20px;
    margin-top: -20px;
    margin-right: 32px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 10px;
    margin-left: 118px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-2 .u-shape-8 {
    margin-right: 33px;
  }

  .u-section-2 .u-shape-9 {
    margin-top: 88px;
    margin-right: 31px;
  }

  .u-section-2 .u-shape-10 {
    margin-right: 32px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -80px;
    margin-left: 113px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 52px;
    margin-left: 111px;
  }

  .u-section-2 .u-shape-11 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-2 .u-shape-12 {
    height: 20px;
    margin-top: -20px;
    margin-right: 34px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 22px;
    margin-left: 109px;
  }

  .u-section-2 .u-shape-13 {
    width: 287px;
    margin-top: 10px;
    margin-right: 55px;
    margin-left: 5px;
  }

  .u-section-2 .u-shape-14 {
    margin-right: 31px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 25px;
    margin-left: 111px;
  }

  .u-section-2 .u-shape-15 {
    margin-top: 10px;
    margin-right: 33px;
  }

  .u-section-2 .u-shape-16 {
    width: 124px;
    height: 19px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 92px;
    margin-top: 120px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -102px;
    margin-left: -25px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 26px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 18px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1211px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-18 {
    margin-top: 177px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1449px;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 125px;
  margin: -18px auto 0 23px;
}

.u-section-3 .u-shape-2 {
  width: 25px;
  height: 113px;
  margin: -104px 51px 0 auto;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 26px 899px 0 23px;
}

.u-section-3 .u-text-2 {
  margin: 16px 622px 0 43px;
}

.u-section-3 .u-group-1 {
  width: 399px;
  min-height: 47px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 1px 329px 0 10px;
  padding: 10px 18px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  background-image: none;
  display: block;
  margin: -42px 233px 0 82px;
  padding: 10px 22px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none;
  display: block;
  margin: -42px 116px 0 175px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: none;
  margin: -42px 36px 0 auto;
  padding: 10px 17px 10px 16px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 169px;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-1 {
  background-image: url("images/60c5746d3ef6f0116f791a359eb44b211dc422fc20ad916ffede80e6e20e324f72241d401b6bd8e77cfe31201ea4705a4256c354cef2ddb269c6c4_1280.jpg");
  padding: 30px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 169px;
  background-image: url("images/4b7d5ce31321accac68dd4ccd0a8fd667cb08002ff8b5e4469cc344edae273b64ad54135dab877a85a0b734aecbfe905cbeb292f1eb52571bcc263_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 169px;
  background-image: url("images/c5f22b2e47598041ad2e0cffe68a53896a80d520b07f786ea7229212d3a33014208831500d0ad3a84b741a65f469686bb95eda7aa14e7020afb1d4_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 169px;
  background-image: url("images/3a71cf16da907422b82a2bb8a09eb7364ed5c4707e1a328e3a018c72f91a372f3e3d1e17d9b826a0d739b7ea9b1520adf31c58c80a3b5025641caa_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-3 .u-image-5 {
  min-height: 169px;
  background-image: url("images/76c1a6b58b34fa74295e5776412386099c0f4ff438f9c17a77395c6bf6118ca16cb9576972e37754cc2de6e03fbcdc2bf5ce537b2cae2d735fef40_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  min-height: 169px;
  background-image: url("images/1779187.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  min-height: 169px;
  background-image: url("images/DownloadAbstractBackgroundWithMemphisElementsforfree.jfif");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  min-height: 169px;
  background-image: url("images/joshua-sortino-gii7lF4y0WY-unsplash.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-3 .u-image-9 {
  min-height: 196px;
  background-image: url("images/pic1.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-image-10 {
  min-height: 196px;
  background-image: url("images/photo-1509565840034-3c385bbe6451.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-image-11 {
  min-height: 196px;
  background-image: url("images/joshua-sortino-gii7lF4y0WY-unsplash.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px;
}

.u-section-3 .u-image-12 {
  min-height: 196px;
  background-image: url("images/60c5746d3ef6f0116f791a359eb44b211dc422fc20ad916ffede80e6e20e324f72241d401b6bd8e77cfe31201ea4705a4256c354cef2ddb269c6c4_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-14 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 38px 949px 0 0;
}

.u-section-3 .u-layout-wrap-4 {
  width: 361px;
  margin: 25px 167px 0 auto;
}

.u-section-3 .u-layout-cell-13 {
  min-height: 94px;
}

.u-section-3 .u-container-layout-15 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-14 {
  min-height: 94px;
}

.u-section-3 .u-container-layout-16 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-15 {
  min-height: 94px;
}

.u-section-3 .u-container-layout-17 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-5 {
  width: 570px;
  margin: -94px auto 60px 0;
}

.u-section-3 .u-layout-cell-16 {
  min-height: 94px;
}

.u-section-3 .u-container-layout-18 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-17 {
  min-height: 94px;
}

.u-section-3 .u-container-layout-19 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-18 {
  min-height: 94px;
}

.u-section-3 .u-container-layout-20 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 722px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 465px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 46px;
    margin-top: 36px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 42px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 139px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-2 {
    min-height: 139px;
  }

  .u-section-3 .u-image-3 {
    min-height: 139px;
  }

  .u-section-3 .u-image-4 {
    min-height: 139px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 15px;
  }

  .u-section-3 .u-image-5 {
    min-height: 139px;
  }

  .u-section-3 .u-image-6 {
    min-height: 139px;
  }

  .u-section-3 .u-image-7 {
    min-height: 139px;
  }

  .u-section-3 .u-image-8 {
    min-height: 139px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 16px;
  }

  .u-section-3 .u-image-9 {
    min-height: 162px;
  }

  .u-section-3 .u-image-10 {
    min-height: 162px;
  }

  .u-section-3 .u-image-11 {
    min-height: 162px;
  }

  .u-section-3 .u-image-12 {
    min-height: 162px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 66px;
    margin-right: 749px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-top: 51px;
    margin-right: 36px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-5 {
    margin-top: -100px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 100px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2456px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 502px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 245px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-3 .u-image-2 {
    min-height: 213px;
  }

  .u-section-3 .u-image-3 {
    min-height: 213px;
  }

  .u-section-3 .u-image-4 {
    min-height: 213px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 13px;
  }

  .u-section-3 .u-image-5 {
    min-height: 213px;
  }

  .u-section-3 .u-image-6 {
    min-height: 213px;
  }

  .u-section-3 .u-image-7 {
    min-height: 213px;
  }

  .u-section-3 .u-image-8 {
    min-height: 213px;
  }

  .u-section-3 .u-image-9 {
    min-height: 248px;
  }

  .u-section-3 .u-image-10 {
    min-height: 248px;
  }

  .u-section-3 .u-image-11 {
    min-height: 248px;
  }

  .u-section-3 .u-image-12 {
    min-height: 248px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 29px;
    margin-right: 529px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-5 {
    width: 310px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 55px;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 55px;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4914px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 17px;
    margin-right: 322px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-right: 65px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-3 .u-image-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 16px;
  }

  .u-section-3 .u-image-5 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 15px;
  }

  .u-section-3 .u-image-9 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-11 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-12 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 36px;
    margin-right: 349px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 35px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 35px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 31px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-5 {
    margin-top: -329px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 108px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 108px;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3730px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 9px;
    margin-right: 122px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 280px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 190px;
    margin-left: 64px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 87px;
    margin-left: 146px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 90px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 201px;
  }

  .u-section-3 .u-image-2 {
    min-height: 201px;
  }

  .u-section-3 .u-image-3 {
    min-height: 201px;
  }

  .u-section-3 .u-image-4 {
    min-height: 201px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-image-5 {
    min-height: 201px;
  }

  .u-section-3 .u-image-6 {
    min-height: 201px;
  }

  .u-section-3 .u-image-7 {
    min-height: 201px;
  }

  .u-section-3 .u-image-8 {
    min-height: 201px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 9px;
  }

  .u-section-3 .u-image-9 {
    min-height: 234px;
  }

  .u-section-3 .u-image-10 {
    min-height: 234px;
  }

  .u-section-3 .u-image-11 {
    min-height: 234px;
  }

  .u-section-3 .u-image-12 {
    min-height: 234px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 22px;
    margin-right: 149px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-top: 14px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 180px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 180px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 180px;
  }

  .u-section-3 .u-layout-wrap-5 {
    margin-top: -1668px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 68px;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 68px;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 41px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 520px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  margin: 11px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-form-1 {
  height: 310px;
  margin: 0 -570px 0 570px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 28px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 239px;
  }
}.name {
  transform: rotate(270deg);
}
.halfCircle {
	transform: rotate(180deg);
}
.button {
	transition: all 0.3s ease-in;
	/*color: #fff;*/
}
.button:hover {
	color: #fff;
	
}