.u-section-1 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 997px;
  margin: 97px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1094px;
  pointer-events: auto;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 1183px;
  width: 1142px;
  animation-duration: 1250ms;
  margin: -89px auto 0 -18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 1098px;
  }

  .u-section-1 .u-image-1 {
    height: 1078px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 828px;
  }

  .u-section-1 .u-image-1 {
    height: 826px;
    width: 787px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 5px;
  }

  .u-section-1 .u-image-1 {
    height: 502px;
    margin-top: -248px;
    margin-bottom: -248px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 226px;
    margin-bottom: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 64px;
  }

  .u-section-1 .u-image-1 {
    height: 351px;
    margin-top: -253px;
    margin-bottom: -34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1148px;
}

.u-section-2 .u-image-1 {
  height: 1140px;
  width: 1140px;
  animation-duration: 1000ms;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-2 .u-image-1 {
    height: 940px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-2 .u-image-1 {
    height: 720px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-image-1 {
    height: 540px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 998px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 37px 897px 0 25px;
}

.u-section-3 .u-text-2 {
  margin: 16px 620px 0 45px;
}

.u-section-3 .u-group-1 {
  width: 399px;
  min-height: 47px;
  height: auto;
  margin: 38px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 1px 329px 0 10px;
  padding: 10px 18px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  background-image: none;
  display: block;
  margin: -42px 233px 0 82px;
  padding: 10px 22px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none;
  display: block;
  margin: -42px 116px 0 175px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: none;
  margin: -42px 36px 0 auto;
  padding: 10px 17px 10px 16px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 204px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-3 .u-image-1 {
  width: 130px;
  height: 117px;
  margin: 32px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 204px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  width: 130px;
  height: 125px;
  margin: 28px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 216px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 139px;
  height: 121px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 225px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 139px;
  height: 119px;
  margin: 0 auto;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-image-5 {
  min-height: 204px;
  animation-duration: 1000ms;
  background-image: url("images/card.JPG");
  margin-top: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  min-height: 204px;
  animation-duration: 1000ms;
  background-image: url("images/card3.JPG");
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 204px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  width: 151px;
  height: 134px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 60px;
  margin-bottom: 37px;
}

.u-section-3 .u-image-8 {
  min-height: 232px;
  background-image: url("images/card4.JPG");
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  min-height: 232px;
  background-image: url("images/card5.JPG");
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 722px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 465px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 168px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 168px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 178px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 186px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-5 {
    min-height: 168px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-6 {
    min-height: 168px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-7 {
    background-position: 50% 50%;
    min-height: 168px;
  }

  .u-section-3 .u-image-8 {
    min-height: 191px;
  }

  .u-section-3 .u-image-9 {
    min-height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 502px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 245px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 13px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-4 {
    margin-right: 42px;
  }

  .u-section-3 .u-image-5 {
    min-height: 257px;
  }

  .u-section-3 .u-image-6 {
    min-height: 257px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 257px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 0;
  }

  .u-section-3 .u-image-7 {
    margin-top: -290px;
    margin-right: auto;
    margin-left: -450px;
  }

  .u-section-3 .u-image-8 {
    min-height: 146px;
  }

  .u-section-3 .u-image-9 {
    min-height: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2346px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 322px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 65px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 18px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 361px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 16px;
    margin-right: 186px;
  }

  .u-section-3 .u-image-5 {
    min-height: 386px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 386px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 386px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -944px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: -361px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-8 {
    min-height: 168px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    min-height: 313px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2183px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 122px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 280px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 190px;
    margin-left: 64px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 87px;
    margin-left: 146px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 145px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 7px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 161px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 452px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 52px;
    margin-right: 181px;
    margin-left: 86px;
  }

  .u-section-3 .u-image-5 {
    min-height: 247px;
  }

  .u-section-3 .u-image-6 {
    min-height: 247px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 247px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -731px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: -196px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-image-8 {
    min-height: 106px;
  }

  .u-section-3 .u-image-9 {
    min-height: 197px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1122px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 425px;
  background-image: url("images/41.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 425px;
  background-image: url("images/6.png");
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 425px;
  background-image: url("images/5.png");
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 110px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 36px auto 0 0;
}

.u-section-4 .u-image-4 {
  width: 851px;
  height: 225px;
  animation-duration: 1000ms;
  margin: 52px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-4 .u-image-1 {
    min-height: 350px;
  }

  .u-section-4 .u-image-2 {
    min-height: 350px;
  }

  .u-section-4 .u-image-3 {
    min-height: 350px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 122px;
    margin-bottom: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-1 {
    min-height: 268px;
  }

  .u-section-4 .u-image-2 {
    min-height: 268px;
  }

  .u-section-4 .u-image-3 {
    min-height: 268px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-4 .u-image-4 {
    height: 191px;
    margin-top: 19px;
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2410px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 603px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 603px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 603px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-4 {
    height: 143px;
    margin-top: 39px;
    margin-bottom: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1774px;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
  }

  .u-section-4 .u-image-2 {
    min-height: 380px;
  }

  .u-section-4 .u-image-3 {
    min-height: 380px;
  }

  .u-section-4 .u-image-4 {
    height: 191px;
    margin-top: 0;
    margin-bottom: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 530px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  margin: 13px auto 0 0;
}

.u-section-5 .u-form-1 {
  height: 310px;
  margin: 16px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 13px;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 428px;
  }
}.name {
  transform: rotate(270deg);
}
.halfCircle {
	transform: rotate(180deg);
}
.button {
	transition: all 0.3s ease-in;
	/*color: #fff;*/
}
.button:hover {
	color: #fff;
	
}
.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.heading {
font-weight: 900px
}